{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Profil
{% endblock title %}

{% block bg %}
{{ include('includes/bg-profil.html.twig') }}
{% endblock bg %}

{% block body %}

<section class="page-form page-first">
    <a href="{{ path('profil')}}" class="btn btn-close" title="Revenir à la page profil"></a>
    <div class="row">
        <h1>Modification du profil</h1>

        {{ form_start(editProfil) }}
        <div class="col-12">
            {{ form_row(editProfil.pseudo, {label: 'Pseudo*'}) }}
            {{ form_row(editProfil.nom, {label: 'Nom*'}) }}
            {{ form_row(editProfil.prenom, {label: 'Prénom*'}) }}
        </div>

        <div class="col-1">
            <button type="submit" class="btn btn-success">
                Valider
            </button>
        </div>
    </div>
    {{ form_end(editProfil) }}
</section>

{% endblock body %}